
.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: 1.25rem !important;
}

.pl-2 {
    padding-left: 2rem !important;
}

.pt-25r {
    padding-top: 0.25rem !important;
}

.pr-25r {
    padding-right: 0.25rem !important;
}