
.w-0 {
    width: 0 !important;
}

.w-32 {
    width: 32% !important;
}

.w-30 {
    width: 30% !important;
}

.max-width-50 {
    max-width: 50% !important;
}

.min-width-4r {
    min-width: 4rem !important;
}

.w-20r {
    width: 22rem !important;
}

.w-2r {
    width: 2rem !important;
}

.w-4r {
    width: 4rem !important;
}

.w-7r {
    width: 8rem !important;
}