
$bg-color: #fff;
$bg-transparent-white: rgba(255, 255, 255, 0.527);
$pr-color: #141414;

$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$zoomSpeed: 128ms;
$zoomOutRange: 1.05;

$disabled: #797979;

$popOutRange: 1.05;
